body{
    margin:0px;
}
.Ametys_mini_fact{
    float:right;
    border:1px solid rgb(17, 17, 16);
    padding:1%
}
.wiki_artikel{
    width: fit-content;
    margin-right: 1%;
    margin-left:1%;
}
.Minifact_roller{
    float:right;
    border:1px solid rgb(17, 17, 16);
    padding:1%
}
    
  
nav ul{
    background-color: crimson;
    padding: 50px;
    margin:0;
    display: flex;
    justify-content: center;
}

nav li{
    background-color: cyan;
    padding: 16px;
    margin: 16px;
    display: inline;
    border-radius: 16px;
}

nav a{
    color: darkblue;
    text-decoration: none;
}