
.rubrik{
    color:red
}
.Två{
    font-size: 1em;
}
.Tida{
    width: 20%;
}
body{
    background-image: url("/Internet\ of\ things.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0;



    
}
p,h1,h2,h3,h4,h5{
    background:linear-gradient(to right, rgb(156, 209, 120), green);
    width: fit-content;
    margin-right: 1%;
    padding: 1%;
    font-family: 'Courier New', Courier, monospace;

}
h2{
    margin-top: 5%;
}
h3{
    margin-bottom: 5%;
}
.Historiska_händelser{
    margin-left:10%;
    margin-right:10%;
}
.Historiska_händelser img{
    padding:1%
}
.Neutron{
    margin-left:37%;
}
.Svenskupptäckt{
    margin-left: -10%;
    border:5px solid rgb(221, 221, 4);
    padding:1%;
    margin-top:5%;

}
.Svenskupptäckt h2{
    margin-top: 0%;
}
nav ul{
    background-color: crimson;
    padding: 60px;
    margin:0px;
    display:flex;
    justify-content: center;
}

nav li{
    background-color: cyan;
    padding: 16px;
    margin: 16px;
    display: inline;
    border-radius: 16px;
}

nav a{
    color: darkblue;
    text-decoration: none;
}