<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/index.html">Startsida</a>
              </li>
        <li>
          <a href="/view/Historiskahändelser.html">Historiskahändelser</a>
  
        </li>
        <li>
          <a href="/view/Grundläggandeprinciper.html">Grundläggandeprinciper</a>
  
        </li>
        <li>
          <a href="/view/Wiki.html">Webbpuplicering</a>
  
        </li>
        <li>
          <a href="/view/20tal.html">Händelse i 20-talet</a>
  
        </li>
      </ul>
        
      </nav>
    <h2>
        COVID19 har tvingat oss att arbeta distans

    </h2>
    
   <h4>
     Hur är det en viktigt händelse i nätvärlden?

   </h4>
      
      <p>

        COVID19 har tvingat att stanna hemma eftersom att det är en pandemi som har gjort att många av bör stanna hemma från deras arbetsplatser därför att man vill minska smittspridningen. Om vi skulle inte stanna hemma skulle det vara värre för företagen och skolorna för att desto mer som jobbar på platserna desto högre smittspridningen och dödsfall. De som är i riskgruppen är de som är 70 år eller äldre som hamnar i riskgruppen eftersom de har svagare immunförsvar och de äldre har symptomer som gör att de hamnar i riskgruppen. Däremot är det inte bara äldre som hamnar i riskgruppen det är dessutom unga människor som har sjukdomar som kan leda till svårare symptomen när de blir smittade.
      </p>
      <img src="/Corona.jpg" alt="COVID19">
<p>
  
  Internet spelar ett stort roll i detta sammanhanget därför att internet har en lösning som har alltid funnits och kommer använda framöver tills karantän behövs inte längre. 
</p>
<p>
  
  Lösning som alla rekommenderar till de som vill arbeta utan att smitta är att stanna i karantän och ta användning av internets verktyg när det gäller att kommunicera men det beror på vilka jobb människor har till exempel man jobbar som en kommunal chaufför. Detta jobb spelar stort i samhället därför att många anlitar att kommunala transporter och staten också anlitar de för att kunna samla in summa av pengar för att fixa sina samhällsproblem. 
</p>
<img src="/Kunglig Distans.jpg" alt="Vilkengrabb">
<p>
  
  Distant arbete har nu använt för mer för tiden än förut på grund av corona därför att många länder har sagt till alla jobb som kan tilltala sina arbetare att jobba hemma om de har möjligheten att göra det. Det finns jobb som alla länder måste ha för vardagligen till exempel sjukhus som vårdar corona patienter och analysera deras symptom för att lära mer om det och lära sig hur man kan förhindra smittspridningen. Det finns dessutom redan jobb som har distansarbete.  
</p>
<img src="/images.jpg" alt="2020">
<p>
  
  Det är ett viktigt händelse för internet för att nu behöver vi anlita mer på internet än vi någonsin har behövt för att kunna utföra sina roller i samhället och internet har hjälpt oss att minska koldioxid utsläppen på grund av viruset.
</p>





        

    

 
   
    
    
</body>
</html>