<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/index.html">Startsida</a>
              </li>
        <li>
          <a href="/view/Historiskahändelser.html">Historiskahändelser</a>
  
        </li>
        <li>
          <a href="/view/Grundläggandeprinciper.html">Grundläggandeprinciper</a>
  
        </li>
        <li>
          <a href="/view/Wiki.html">Webbpuplicering</a>
  
        </li>
        <li>
          <a href="/view/20tal.html">Händelse i 20-talet</a>
  
        </li>
      </ul>
        
      </nav>
    <div class="Historiska_händelser">

    
    <h2>
        1969 Starten på Arpanet
    </h2>
    <p>
        29 oktober 1969 skickas det första meddelandet på det som i dag är internet.
        Vid den tiden heter nätverket Arpanet, och drivs av det amerikanska försvaret. I september 1969 länkas Arpanets första dator med en sprillans ny, specialbyggd maskin, en IMP – Interface Message Processor (som ni ser på bilden här ovanför). Och några veckor senare, 29 oktober klockan halv elva på kvällen skickar forskargruppen på UCLA, ledd av professor Leonard Kleinrock, iväg ett meddelande till en dator på Stanford drygt 50 mil därifrån. Det innehåller endast bokstäverna L och O (forskarna hade tänkt skriva LOGIN men servern kraschade). 
        Arpanet är ett av många nätverk som utvecklas under 60-talet i både USA, England och Frankrike.
        Illustration av Jesper Wallerborg.

    </p>
    
    <h4>
        Paketutbyte, TCP/IP och tidsdelning
    </h4>
<p>
    På den amerikanska forskningsmyndigheten ARPA (Advanced Research Projects Agency) jobbar datorforskaren Joseph Licklider. Han är den som kläcker idén till det som blir internet, men det finns många andra på myndigheten som gör betydande insatser för att förverkliga planerna. Leonard Kleinrock uppfinner kommunikationstekniken ”paketutbyte” (packet switching), Vinton Cerf and Robert Kahn kommer på TCP/IP-protokollet (som fortfarande utgör grunden för det internet vi har i dag).
    En annan viktig upptäckt är tidsdelningssystemen (time-sharing), som innebär att flera personer kan använda samma dator. Det är ju egentligen det man gör på internet, delar datorer med varandra.

</p>
    
    
   <h4>
       E-posten skapas
</h4> 
    <p>
        1971 skickas det första e-postmeddelandet på Arpanet – från en dator till en annan som står precis bredvid. Fler och fler datorer på amerikanska forskningsanstalter och laboratorium kopplas sedan upp, nätet växer och 1973 är det hela fyrtio datorer uppkopplade.

    </p>   
    <h4>
        Nätverket blir internationellt

    </h4>
   <p >
       Samma år kopplas den första utländska datorn upp mot Arpanet utanför USA. Den är norsk och kopplas upp via satellit. Men om vi ska vara lite petiga går faktiskt den första internetkontakten via markstationen i Tanum i Bohuslän, som tar emot signalerna och skickar dem vidare till Norge. Först då blir internet internationellt.

   </p>
    
    
        <img src="/lo.png" alt="Arpanet" width="266" height="231">
    <div class="Svenskupptäckt">

    
    <h2>
        1972 Svensk upptäckt byggs in i Arpanet
    </h2>
<h5>
    När det svenska elnätet digitaliseras inspireras man av Arpanet. Men allt går inte som det är tänkt. Det blir början på en bit svensk internethistoria – som når världen.
    Den 9 november 1965 är en ovanligt kall dag i nordöstra USA. När alla vrider igång sina elektroniska apparater samtidigt får elnätet nog. 25 miljoner människor blir utan ström en hel dag.
    Händelsen skickar chockvågor ända till Sverige där överingenjören Lars Gustafsson är chef för Vattenfalls driftavdelning. Därmed har han ansvar över hela landets kraftnät, som även sitter ihop med det finska, norska och det danska. För att minska risken för liknande störningar beslutas att skapa ett datorbaserat övervakningssystem. Hittills har all kommunikation skett via telefon.

</h5>

 <img src="/invigning.png" alt="Bild från Tidas officiella invigning" class="Tida"> 
 <p>
     Bild från Tidas officiella invigning 1977.C-politikern Olof Johansson syns på bakre raden. Foto: Vattenfall AB.

 </p>  

<p>
    Uppdraget går till Asea. Systemet ska täcka hela landet och det kallas TIDAS – totalintegrerat datasystem. Så vad har detta med internet att göra? Ganska mycket, kommer det att visa sig. Torsten Cegrell på Asea är inspirerad av paketförmedlingen i det amerikanska Arpanet, som han tror kommer att gå att använda även i TIDAS. Men svenskarna stöter på patrull. TIDAS innehåller betydligt fler datorer och routingmekanismen (som är tänkt att se till att paketen når fram på det mest effektiva sättet) som Arpanet använder sig av har för hög felprocent.

    </p>
    
    <p>
        
        Då 27-årige Cegrell hittar år 1972 en lösning.
    </p>
    <p>
        – Lösningen ter sig i efterhand enkel. Det blev felaktig information när noderna lurade systemet. Vad jag gjorde var att införa ett nytt begrepp, split horizon. Detta löste problemet med ping-pongtrafiken och vi kunde bygga en robust och stabil routingmekanism, berättar han i en intervju med Internetmuseum (se filmen nedan).

    </p>
    
    
    <p>
        – Det fungerade! Det var en av mina större triumfer. Men till våra chefer blev det mest en information: det fungerade.

    </p>
   <p>
       Arpanet bygger in

   </p>

    
        
    
    <p>
        Asea söker patent, men det visar sig vara för dyrt, dessutom ansågs det ligga för långt bort från företagets kärnverksamhet. Istället publiceras resultatet (se rapporten här), och Arpanet informeras. Leonard Kleinrock, som är ansvarig för Arpanet, hör av sig.

    </p>
    <p>
        – I ett brev till mig så bekräftar han att de tagit till sig tekniken. Det innebär att Arpanet inför man samma teknik som vi hade. Och då upphörde ping-pongtrafiken, säger Torsten Cegrell och lägger till:

    </p>
    <p>
        – Om vi inte kommit på det hade någon annan löst problemet. Men vi var först.

    </p>
</div>
   <h2>
       
       1983 Sveriges första mejl lyder: ”Hello”
</h2> 

<img src="/Björn.jpg" alt="Eriksen">
<p>
    Björn Eriksen. 
</p>

<h2 class=Två>
    Två minuter över två på eftermiddagen, den 7 april 1983, tar datateknikern Björn Eriksen emot det som anses vara det första mejlet över internet till Sverige.
    
</h2>

<p>
    Det kommer från Amsterdam och Jim McKie på European Unix Network. Innehållet är kanske inte så spännande – det är bara ett besked om att det är ett testmejl – men det är ändå ett historiskt ögonblick. Trettio år senare har nästan nittio procent av landets befolkning tillgång till internet och e-post.
    
</p>
<h5>
    Hela mejlet:
    SWE_Mail
    Return-Path:<mcvax!jim>
        Date: Thu, 7 Apr 83 14:02:08 MET DST
        From: mcvax!jim (Jim McKie)
        To: enea!ber
        Subject: Hello

</h5>


<h5>
    You are now hooked to the mcvax. This is just a test. Reply, we will be calling you again soon! 
</h5>


<h5>
    Ignore any references to a machine called ”yoorp”, it is just a test. Mail should go to mcvax!….”.

</h5>


<h5>
    Regards, Jim McKie. (mcvax!jim).
    
</h5>


<p>
    Rent tekniskt har Björn tagit emot mejlet med en VAX 780 med operativsystemet BSD Unix, som är placerad hos programutvecklingsföretaget Enea Data AB i Täby. E-posten förmedlas med UUCP och X.25 (och inte via internetprotokollet TCP/IP, vilket gjort att vissa ifrågasätter om mejlet verkligen kan sägas vara det första via just ”internet”). E-post har vid tidpunkten även tidigare skickats från Sverige, via KOM-systemet 1982, men via brygga (och även då med X.25-tekniken).

</p>
<p>
    Björn Eriksen registrerade några år senare .se-domänen och sköter den fram till 1997. Han går bort 2005. Här kan du se en film där hans vänner och kollegor berättar om hans gärning:

</p>
<h2>
    1992 Vem bestämmer över internet?

</h2>
<img src="/Stormtrooper.jpg" alt="star wars">
<h5>
    Ibland beskrivs internet som ett exempel på en fungerande anarki. Det är inte riktigt sant. Däremot är det sant att nätet fortfarande bygger på decentralisering och öppenhet. Här går vi igenom några av organisationerna som ser till att internet funkar.

</h5>


<p>
    En av grundidéerna med internet är att alla ska få använda det och att ingen ska få bestämma över det. Du behöver inte fråga någon om lov om du lägger upp en webbsida, det är bara att ladda upp den. Men det innebär inte att allt är tillåtet på internet. Fortfarande gäller lagarna i landet där du bor.

</p>
<p>
    Internet behöver förstås regler för att fungera på det sätt som det är tänkt. Och för det behövs organisationer. 1992 startas Internet Society, ISOC, av Vint Cerf och Bob Kahn som skapade den så viktiga TCP/IP-tekniken (som internet fortfarande bygger på). Organisationen är till för att se till att internet förblir öppet och fritt världen över. ISOC har ungefär 50 000 medlemmar och verkar genom en rad olika organ, bland annat IETF och IESG. De här två organisationerna är löst sammansatta grupper av tekniker och programmerare som jobbar med att ta fram standarder för att internet ska fungera bättre ur ett tekniskt perspektiv.

</p>
<p>
    1997 bildas ISOC-SE, den svenska grenen av ISOC, som samma år också grundar Internetstiftelsen (som bland annat driver Internetmuseum). En viktig grund även för den svenska delen av organisationen är synen på att internets styrka ligger i dess öppenhet och i dess decentraliserade struktur. ISOC-SE utser ordföranden och en ledamot i Internetstiftelsen i Sveriges styrelse.

</p>
<h5>
    Fler organisationer att hålla reda på

</h5>
<p>
    Internets infrastruktur utgår bland annat från IP-adresser, domännamn och själva kablarna och antennerna som kopplar oss samman. Även här finns det viktiga organisationer som styr så att allt fungerar smidigt.

</p>
<h5>
    • IP-adresser
    
</h5>


<p>
    Datorns eller telefonens adress på internet heter IP-adress och är en kombination av siffror. Adresserna hanteras av fem så kallade RIR:ar, Regional Internet Registries. Dessa fem är fördelade över världen och det som har hand om Sveriges IP-adresser heter RIPE-NCC och ligger i Amsterdam.

</p>
<h5>
    • Domännamn

</h5>
<p>
    De namn som vi skriver in för att komma till en särskild webbsida kallas domännamn, och finns till för att att vi ska slippa komma ihåg IP-adresser för olika webbsidor och mejladresser. Domännamnen hanteras dels av de länder som namnet pekar mot (exempelvis hanterar Internetstiftelsen alla namn som slutar på .se) och dels av den världsomspännande organisationen ICANN (Internet Corporation for Assigned Names and Numbers). Dessa fungerar lite som webbens egen vägmyndighet, som bestämmer över vägnätet och kontrollerar att trafiken löper smidigt och att folk håller sig till trafikreglerna. ICANN, bildades på initiativ av amerikanska staten 1998. Tanken var då att organisationen skulle funka som en brygga mellan internets utvecklare och USA:s stat. 2016 lämnades kontrollen av ICANN över till alla världens länder.

</p>
<h5>
    • Trafiken på internet

</h5>
<p>
    För att komma ut på internet behöver vi operatörerna. I Sverige kan de till exempel heta saker som Bredbandsbolaget, Telia, Tele2, Bahnhof eller Com hem. För att du ska kunna koppla upp dig behöver du ett abonnemang för din dator, mobil eller surfplatta. Det kan vara ett mobilabonnemang eller ett fast abonnemang, till exempel i en lägenhet.

</p>
<h5>
    • Politiken och internet

</h5>
<p>
    Förenta Nationerna, FN, hade under möten 2003 och 2005 en tanke att skapa fasta spelregler för det internationella samarbetet på internet, på samma sätt som med tidigare tekniska landvinningar som telefoni eller flygresor. Problemet var att denna uppifrån-och-ner-approach krockade med det nedifrån-och-upp-fokus som redan fanns och fungerade. Istället etablerades IGF (Internet Governance Forum) som är en konferens där politiker, företag och tekniker möts för att diskutera internets styrning.
    
</p>
 <h2>
     2003 Skype gör telefonsamtalen gratis

 </h2>
 <img src="/Skype.jpg" alt="">

<p>
    2003 startar Niklas Zennström företaget Skype, en tjänst som låter dig  ringa folk via internet istället för via en vanlig telefon. Det innebär att du inte får dyra telefonräkningar för långa samtal – kanske extra viktigt för den som har familj eller vänner utomlands, eller bor i ett land där det är dyrt eller krångligt att ringa.
    Namnet har sitt ursprung i ett tidigt namnförslag, ”Sky peer-to-peer”. Det använder också några av teknikerna från just peer-to-peer-programmet Kazaa, ett fildelningsprogram som också skapades av Niklas Zennström.
    2005 köper Ebay Skype för 19 miljarder kronor. Zennström blir då en av Sveriges rikaste människor Det säljs sen vidare till en investerargrupp och 2011 till Microsoft för över 50 miljarder kronor. Programmet har laddats ner mer än 160 miljoner gånger.
    2013 var NiklasZennström sommarpratare i P1 – lyssna på programmet här:
</p>
<h2>
    2011 Med Snapchat skickar vi bilder som kan försvinna – och vi lär oss att ”snapa”

</h2>
<h3>
    Snapchat lanseras 2011 och är en meddelande-app för smarta mobiler. Snapchat gör det möjligt för användarna att skicka bilder och videor – kallade för ”snaps” – till andra användare utan att de kan sparas.

</h3>
<img src="/Jimmy Neutron.jpg" alt="" class="Neutron">
<p>
    Användaren väljer själv hur många sekunder bilden ska visas för mottagaren. Sedan försvinner bilden upp i tomma intet, Snapchat sparar den inte. Om bilden inte visas sparas den i trettio dagar.
    Snapchat är särskilt populär bland unga och blir snabbt ett verb i form av att ”snapa”.
    Precis som Facebook har Snapchat skakats av en fejd. Tjänsten skapas av studiekompisarna Frank Brown, Evan Spiegel och Bobby Murphy. Den senare utesluts ur företaget en tid senare, men kräver sin rätt både till pengar och ära. Efter en uppgörelse med Snapchat räknas han numera officiellt som en av grundarna.
    Företaget har nobbat uppköpsförsök från både Facebook och Google och värderas i början av 2016 till 17 miljarder dollar.

</p>




</div>






</body>

</html>