<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style2.css">
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/index.html">Startsida</a>
              </li>
        <li>
          <a href="/view/Historiskahändelser.html">Historiskahändelser</a>
  
        </li>
        <li>
          <a href="/view/Grundläggandeprinciper.html">Grundläggandeprinciper</a>
  
        </li>
        <li>
          <a href="/view/Wiki.html">Webbpuplicering</a>
  
        </li>
        <li>
          <a href="/view/20tal.html">Händelse i 20-talet</a>
  
        </li>
      </ul>
        
      </nav>



    <h2>
        Ametys CMS

    </h2>
    <p>
        From Wikipedia, the free encyclopedia
        Jump to navigationJump to search
    </p>
    <div class="Ametys_mini_fact">


        <img src="/Ametys.jpg" alt="">
        <p>
            Developer(s) Ametys

        </p>
        <p>
            Stable release 4.1.11[1] / 2019-??-??[±]

        </p>
        <p>
            Written in Java
        </p>
        <p>
            Operating system Cross-platform

        </p>
        <p>
            Type Content management system, content management framework

        </p>
        <p>
            License Apache License 2.0

        </p>
        <p>
            Website www.ametys.org

        </p>
    </div>
    <div class="wiki_artikel">


        <p>
            Ametys is a free and open source content management system (CMS) written in Java. It is based on JSR-170 for
            content storage,[2] Open Social[3] for gadget rendering and a XML oriented framework. It is primarily
            designed to run large corporate websites, blogs, intranets and extranets on the same server.
            As of May 2012, Ametys claims to run more than 30 000 websites.[citation needed]
            Ametys is Java based[4] and runs on any computing platform capable of running the Java Runtime Environment
            and an application server.

        </p>



        <p>
            Contents
        </p>
        <p>
            1 History

        </p>
        <p>
            2 Modules

        </p>
        <p>
            3 External links

        </p>
        <p>
            4 References

        </p>

        <h3>
            History

        </h3>
        <p>
            Ametys is a professional open-source CMS (content management system) written in Java.

        </p>
        <p>
            Ametys was created in 2003 by passionate Web and Java experts. Since 2005 Ametys has been deployed in higher
            education, for which specific components for uPortal and Jasig projects were developed.[citation needed] In
            2009, it was ported to the level of a professional open source CMS by Anyware Services (headquarters in
            France).

        </p>

        <p>
            Ametys evolved through the collaboration of the community of developers, users and integrators.

        </p>
        <p>
            The downloadable version includes user authentication via LDAP and CAS, and a WYSIWYG editor administration.

        </p>
        <p>
            Ametys 3.4 was released in August 2012 and saw several improvements and new functionality including new
            plugins as UGC, glossary, FAQ, and blog management. It also included new practices of Social web.

        </p>
        <h3>
            Modules

        </h3>
        <p>
            Ametys comes with many features :

        </p>
        <p>
            Multi-site and multilingual platform

        </p>
        <p>
            Front-end editing

        </p>
        <p>
            RSS feed support

        </p>
        <p>
            Document library manager, Alfresco and other document library integration

        </p>
        <p>
            LDAP Integration

        </p>
        <p>
            Website Tools : comments feed, Share buttons, Twitter feed integration, OpenSocial gadgets

        </p>
        <p>
            Blogs and wikis

        </p>
        <p>
            Newsletter management

        </p>
        <p>
            Web Form management

        </p>
        <p>
            Online survey management

        </p>
        <p>
            Maps

        </p>
    </div>


    <hr>
    <h2>
        Apache Roller

    </h2>
    <p>
        From Wikipedia, the free encyclopedia

    </p>
    <h4>
        Question book-new.svg

    </h4>
    <p>
        This article relies too much on references to primary sources. Please improve this by adding secondary or
        tertiary sources. (August 2008) (Learn how and when to remove this template message)

    </p>
    <h3>
        Apache Roller




    </h3>
    <div class="Minifact_roller">
        <img src="/Roller.png" alt="">
        <p>
            Developer(s) Apache Software Foundation

        </p>
        <p>
            Stable release 5.2.2[1] / 2019-01-11[±]

        </p>
        <p>
            Repository Roller Repository

        </p>
        <p>
            Written in Java

        </p>
        <p>
            Operating system Cross-platform

        </p>
        <p>
            Type Weblog server

        </p>
        <p>
            License Apache License 2.0[2]

        </p>
        <p>
            Website roller.apache.org

        </p>
    </div>

    <p>
        Apache Roller is a Java-based open-source "full-featured, Multi-blog, Multi-user, and group-blog server suitable
        for blog sites large and small".[3] Roller was originally written by Dave Johnson in 2002 for a magazine article
        on open source development tools,[4] but became popular at FreeRoller.net (now JRoller.com) and was later chosen
        to drive the employee blogs at Sun Microsystems, Inc. and IBM developerWorks blogs.[2]

    </p>
    <p>
        On April 23, 2007, Roller project graduated from incubator, so it became an official project of the Apache
        Software Foundation and it was released 3.1 version, first official release.[5]

    </p>
    <p>
        References

    </p>
    <p>
        "[ANNOUNCEMENT] Apache Roller 5.2.2 released". apache.org. Retrieved 2019-06-25.

    </p>
    <p>
        http://www.ohloh.net/p/roller OhLoh Apache Roller Summary information page at Ohloh

    </p>
    <p>
        http://roller.apache.org/ Apache Roller official website

    </p>
    <p>
        http://onjava.com/pub/a/onjava/2002/04/17/wblogosj2ee.html

    </p>
    <p>
        "Apache News Online, 23 april 2007 - Announcing project graduation and new Apache Roller 3.1 release". Apache
        News. 2007-04-23. Archived from the original on 28 September 2011. Retrieved 2010-11-21.

    </p>

</body>

</html>